{% extends 'base.html.twig' %}

{% block title %}Bucket List{% endblock %}

{% block body %}
    <h1>  Liste des idées :   </h1>

    <ul>
        {% for wish in id %}
            <li> {{ wish.title}}
            <li> {{ wish.description}}  </li>
            <li> {{ wish.author}}  </li>
            <li> {{ wish.dateCreated|date('d/m/Y')}}  </li>
        {% endfor %}
    </ul>



{% endblock %}
