{% extends 'base.html.twig' %}

{% block title %}Bucket List{% endblock %}

{% block body %}
    <h1>  Liste des idées :   </h1>

    <ul>
        {% for wish in liste_wish %}
            <li> {{ wish.title}} <a href="{{ path('detail', {'id' : wish.id }) }}"> Detail de l'idée  </a></li>

        {% endfor %}
    </ul>

    <a href="{{ path('wish_ajouter')}}"  class="btn btn-outline-dark"> Ajouter une idée </a>



{% endblock %}
